{% extends 'base.html' %}

{% block content %}
    <h1>Are you sure you want to delete {{ object.title }} with id {{ object.pk }}?</h1>

    <form action="{% url 'book_delete' pk=object.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mt-2">Delete Book</button>
    </form>
{% endblock %}
