{% extends 'base.html' %}

{% block content %}
    <h1>Import Book</h1>

    <form action="{% url 'book_import' %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_book_title">Title</label>
            <input type="text" name="book_title" id="id_book_title" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Import Book</button>
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
{% endblock %}
