{% extends 'base.html' %}

{% block content %}
    <h1>Book List</h1>

    {% if form.errors %}
        <ul class="errorlist">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.name }} - {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'book_list' %}" method="get">
        {% csrf_token %}
        Search by:
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="search_title" placeholder="Title">
            <input type="text" class="form-control" name="search_author" placeholder="Author">
            <input type="text" class="form-control" name="search_language" placeholder="Language">
            <input type="number" class="form-control" name="search_publication_date_from" placeholder="Publication date from">
            <input type="number" class="form-control" name="search_publication_date_to" placeholder="Publication date to">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Publication Date</th>
                <th>ISBN</th>
                <th>Number of pages</th>
                <th>publication_language</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>
                        <ul style="list-style-type: none;">
                            {% for author in book.author.all %}
                                <li> - {{ author.author_name }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ book.publication_date }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.number_of_pages }}</td>
                    <td>{{ book.publication_language }}</td>
                    <td>
                        <a href="{% url 'book_update' pk=book.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'book_delete' pk=book.pk %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'book_create' %}" class="btn btn-success">Add New Book</a>
    <a href="{% url 'book_import' %}" class="btn btn-outline-success">Import book</a>
{% endblock %}
