{% extends 'base.html' %}

{% block content %}
    <h1>Update Book</h1>

    {% if form.errors %}
        <ul class="errorlist">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ field.name }} - {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'book_update' pk=book.pk %}" method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_title">Title</label>
            <input type="text" name="title" id="id_title" value="{{ form.title.value }}" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="{{ form.author.id_for_label }}">Author</label>
            <select multiple name="{{ form.author.name }}" id="{{ form.author.id_for_label }}" class="form-control" required>
                {% for instance in form.author.field.queryset %}
                    <option value="{{ instance.pk }}" {% if instance.pk == form.author.value %} selected{% endif %}>{{ instance.author_name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="publication_date">Publication Date</label>
            <input type="number" name="publication_date" value="{{ form.publication_date.value|date:'Y-m-d' }}" id="publication_date" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" name="isbn" id="isbn" class="form-control" value="{{ form.isbn.value }}" required>
        </div>

        <div class="form-group">
            <label for="number_of_pages">Number of pages</label>
            <input type="number" name="number_of_pages" id="number_of_pages" class="form-control" value="{{ form.number_of_pages.value }}" required>
        </div>

        <div class="form-group">
            <label for="cover_link">Cover link</label>
            <input type="url" name="cover_link" id="cover_link" class="form-control" value="{{ form.cover_link.value }}" required>
        </div>

        <div class="form-group">
            <label for="publication_language">Publication language</label>
            <input type="text" name="publication_language" id="publication_language" class="form-control" value="{{ form.publication_language.value }}" required>
        </div>
        <button type="submit" class="btn btn-success mt-2">Update Book</button>
    </form>
{% endblock %}
